<div class="layout" data-area="editor">
	<div class="left">
		<div class="tree" data-click="tree-click">
			<div class="item">
				<i class="icon-arrow"></i>
				<i class="icon-folder"></i>
				<span>Fighter</span>

				<div class="children">
					<div class="item">
						<i class="icon-blank"></i>
						<i class="icon-frame"></i>
						<span>High Kick</span>
					</div>
					<div class="item">
						<i class="icon-blank"></i>
						<i class="icon-frame"></i>
						<span>Mid Kick</span>
					</div>
					<div class="item">
						<i class="icon-blank"></i>
						<i class="icon-frame"></i>
						<span>Low Kick</span>
					</div>
				</div>
			</div>

			<div class="item">
				<i class="icon-arrow"></i>
				<i class="icon-folder"></i>
				<span>Blow</span>

				<div class="children">
					<div class="item">
						<i class="icon-blank"></i>
						<i class="icon-frame"></i>
						<span>Splatter</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="work">
			<div class="canvas"></div>
			<div class="minimap" data-click="minimap-select"></div>
		</div>
		<div class="strip">
			<div class="frames" data-click="frames-select">
				<span style="--fY: 0; --fX: 0;" class="active"></span>
				<span style="--fY: 0; --fX: 1;"></span>
				<span style="--fY: 0; --fX: 2;"></span>
				<span style="--fY: 0; --fX: 3;"></span>
			</div>
		</div>
	</div>
</div>