
.layout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;

	&.cover {
		&:before {
			content: "";
			background: transparent;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 12;
			cursor: none;
		}
	}

	.left {
		background: #f2f2f2;
		position: relative;
		width: 160px;
		font-size: 0;

		.tree {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: auto;
		}

		.item {
			&.active {
				span {
					background: #f00;
					color: #fff;
				}
			}

			&.collapsed {
				height: 19px;

				> .children {
					height: 0;
					overflow: hidden;
				}
			}

			> i {
				background: 50% 50% no-repeat;
				background-size: 17px 17px;
				vertical-align: top;
				display: inline-block;
				width: 17px;
				height: 17px;
				margin: 1px 0;

				&.icon-blank { }
				&.icon-arrow {
					background-image: url(~/icons/icon-arrow.png);
					background-size: 8px 8px;

					&.down {
						transform: rotate(90deg);
					}
				}
				&.icon-folder { background-image: url(~/icons/icon-folder.png); opacity: .5; }
				&.icon-frame { background-image: url(~/icons/icon-frame.png); opacity: .5; }
			}

			span {
				// background: #0002;
				vertical-align: top;
				display: inline-block;
				font-size: 13px;
				margin: 2px 0 0 1px;
				padding: 2px;
				border-radius: 3px;
			}

			.children {
				padding-left: 8px;
			}
		}
	}

	.right {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		border-left: 1px solid #777a;
		--size: 28.8px;
		--aX: 0;
		--aY: 0;

		.work {
			background: #aaa;
			flex: 1;
			position: relative;

			.minimap,
			.canvas {
				background-image: conic-gradient(#ccc 0 25%, #eee 25% 50%, #ccc 50% 75%, #eee 75% 100%);
				background-size: calc( var( --size ) * 2 ) calc( var( --size ) * 2 );
				position: absolute;
				top: 22px;
				left: 336px;
				width: calc( var( --size ) * 10 );
				height: calc( var( --size ) * 10 );
				box-shadow: 0 0 0 1px #0002,
							0 1px 9px #0005;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					filter: drop-shadow(0 1px 5px #0003);
					image-rendering: pixelated;
					background: url(~/icons/fighter.png) no-repeat;
					background-position: 0 0;
					background-size: calc( var( --size ) * 10 ) auto;
				}
			}

			.minimap {
				cursor: pointer;

				&:before {
					opacity: .35;
				}

				&:after {
					content: "";
					position: absolute;
					top: calc( var( --aY ) * var( --size ) );
					left: calc( var( --aX ) * var( --size ) );
					width: var( --size );
					height: var( --size );
					background: url(~/icons/fighter.png) no-repeat;
					background-position: calc( calc( var( --aX ) * var( --size ) ) * -1 ) calc( calc( var( --aY ) * var( --size ) ) * -1 );
					background-size: calc( var( --size ) * 10 ) auto;
					box-shadow: 0 0 0 2px #f55;
				}
			}

			.canvas {
				background-size: 8px 8px;
				left: 25px;

				&.flip {
					&:before {
						transform: scaleX(-1);
					}
				}

				&:before {
					background-size: 2880px auto;
					background-position: calc( calc( var( --aX ) * var( --size ) ) * -10 ) calc( calc( var( --aY ) * var( --size ) ) * -10 );
				}

				div,
				span {
					position: absolute;
					top: calc( calc( var(--y) * 2px ) - calc( var(--r) * 2px ) );
					left: calc( calc( var(--x) * 2px ) - calc( var(--r) * 2px ) );
					width: calc( var(--r) * 4px );
					height: calc( var(--r) * 4px );
					border-radius: 50%;

					&:hover {
						&:after {
							display: block;
						}
					}

					&:before {
						content: "";
						background: #b229;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: 50%;
						cursor: move;
						z-index: 1;
					}

					&:after {
						content: "";
						display: none;
						position: absolute;
						top: 50%;
						left: 100%;
						width: 12px;
						height: 12px;
						margin: -5px 0 0 -5px;
						background: #fff;
						// border: 1px solid #000;
						box-shadow: 0 0 0 1px #000;
						cursor: ew-resize;
						z-index: 2;
					}
				}

				div {
					&:before {
						background: #22b9;
						cursor: default;
					}

					&:after {
						display: none;
					}
				}
			}
		}

		.strip {
			position: relative;
			height: 93px;
			background: #ddd;
			border-top: 1px solid #777a;
			--size: 36px;

			.frames {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: 0;
				padding: 10px 0 0 10px;
				white-space: nowrap;
				overflow-x: auto;

				span {
					background: #eaeaea;
					position: relative;
					display: inline-block;
					width: calc( var( --size ) + 16px );
					height: calc( var( --size ) + 36px );
					margin: 0 11px 0 0;
					border-radius: 3px;
					box-shadow: 0 0 0 1px #0001,
								0 1px 3px #0004;
					cursor: pointer;

					&.active {
						box-shadow: 0 0 0 2px #f55,
									0 1px 3px #0005;
						cursor: default;
					}

					&.flip {
						&:before {
							transform: scaleX(-1);
						}
					}

					&:before {
						content: "";
						position: absolute;
						top: 18px;
						left: 8px;
						width: var( --size );
						height: var( --size );
						background: #f2f2f2 url(~/icons/fighter.png) no-repeat;
						background-position: calc( calc( var( --fX ) * var( --size ) ) * -1 ) calc( calc( var( --fY ) * var( --size ) ) * -1 );
						background-size: calc( var( --size ) * 10 ) auto;
						box-shadow: 0 0 0 1px #0002;
					}

					i {
						font-size: 10px;
						font-style: normal;
						text-align: right;
						position: absolute;
						top: 5px;
						left: 7px;
					}

					s {
						font-size: 10px;
						text-decoration: none;
						position: absolute;
						bottom: 5px;
						left: 3px;
					}

					b {
						font-size: 10px;
						font-weight: 400;
						text-decoration: none;
						position: absolute;
						bottom: 5px;
						right: 3px;
					}
				}
			}
		}
	}
}
